/* 
样式模板
复杂样式需自定义

本样式不允许自定义以及修改任何元素 font-size
*/
/* 分页 */
.z-page-container {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
  /*需求改变 可以修改公共样式 */
  /*   .z-page-text:hover {
    color: @color;
  } */
  /*  .z-page-text:nth-of-type(3) {
    margin-right: @pagePagesMarginRight;
  }
   */
}
.z-page-container .z-page-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
}
.z-page-container .z-page-equal {
  flex: none;
  text-align: center;
  color: #535353;
  height: 2.2em;
  line-height: 2.2em;
  min-width: 2.2em;
  padding: 0 0.3em;
  margin: 0 0.3em;
  font-weight: 500;
  cursor: pointer;
  border: #efefef solid 0.07142857em;
  border-radius: 0.14285714em;
  box-shadow: 0px 0px 0.21428571em #efefef;
}
.z-page-container .z-page-equal:hover {
  /* background-color: #FF8200; */
  /* background-color: @color; */
}
.z-page-container .z-page-disabled,
.z-page-container .z-page-disabled:hover {
  background-color: #efefef;
  color: #535353 !important;
  cursor: not-allowed;
}
.z-page-container .z-page-prev,
.z-page-container .z-page-next {
  width: 5.5em;
}
.z-page-container .z-page-num {
  /* 默认隐藏所有页标 */
}
.z-page-container .z-page-num:hover,
.z-page-container .z-page-prev:hover,
.z-page-container .z-page-next:hover {
  color: #0C6FAB;
}
.z-page-container .z-page-active {
  /* background-color: #FF8200; */
  background-color: #0C6FAB;
  color: white;
}
.z-page-container .z-page-active:hover {
  color: white;
}
.z-page-container .z-page-text {
  border-color: transparent;
  box-shadow: 0 0 0 0 #FFF;
}
.z-page-container .z-page-input {
  width: 2.2em;
  vertical-align: middle;
  overflow: hidden;
}
.z-page-container .z-page-input input {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.z-page-container .z-page-input input:hover {
  border-color: #0C6FAB;
}
.z-page-container .z-page-input input::focus {
  border-color: #0C6FAB;
}
/* 清除默认样式 */
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
input {
  outline: none;
  font-size: inherit;
  box-sizing: border-box;
  border: none;
}
li {
  box-sizing: border-box;
}
